$time: 10s;
body{
    padding: 4em;
    background-color: #c2c2c2;
}

.slider{
    width: 100%;
    height: var(--height);
    mask-image: linear-gradient(
        90deg,
        rgba(0,0,0,0,) 0%,
        rgba(0,0,0,1)10%,
        rgba(0,0,0,1)90%,
        rgba(0,0,0,0)100%
    );
    &:hover .item{        
        animation-play-state: paused!important;
    }
    & .list{
        display: flex;
        min-width: calc(var(--width) * var(--quantity));
        & .item{
            width: var(--width);
            // animation: carousel $time linear infinite;
            // position: absolute;
            // left: 100%;
            animation: test $time linear infinite;
            animation-delay: calc(($time / var(--quantity)) * (var(--position) - 1));
            &:hover{
                transform: scale(1.1);
                & ~ .item{
                    transform: scale(0.7);
                    filter: grayscale(01);
                }
            } 
            &:has(~ .item:hover){
                transform: scale(0.7);
                filter: grayscale(01);
            }
            & img{
                width: 100%;
                border-radius: 5%;
            }
        }
    }
}

// .slider{
//     // width: 100%;
//     // height: var(--height);
//     overflow: hidden;
//     mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
//     & .list{
//         display: flex;
//         // width: 100%;
//         min-width: calc(var(--width) * var(--quantity));
//         & .item{
//             width: var(--width);
//             height: var(--height);
//             // position: absolute;
//             // left: 100%;
//             // top: 180px;
//             transition: scale 0.5s ease;
//             animation: carousel $time linear infinite;
//             animation-delay: calc(($time / var(--quantity)) * (var(--position) - 1));
//             &:hover{
//                 transform: scale(1.4);
//                 & ~ span{
//                     transform: scale(0.7);
//                     filter: grayscale(0.65);
//                 }
//             }
//             &:has(~ span:hover){
//                 transform: scale(0.9);
//                 filter: grayscale(0.65);
//             }
//             & img{
//                 width: 100%;
//             }
//         }
//     }
//}

@keyframes carousel{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1);
    }
}

@keyframes test{
    from{
        transform: translate(100%);
    }
    to{
        transform: translate(-150%);
    }
}

// source : https://www.youtube.com/watch?v=mF9yOwlunWk